code/osx/app/VisDoc.xcodeproj/arthur.mode1v3
code/osx/app/VisDoc.xcodeproj/arthur.pbxuser
code/osx/app/VisDoc.xcodeproj/arthurclemens.mode1v3
code/osx/app/VisDoc.xcodeproj/arthurclemens.pbxuser

code/osx/app_installer/updating/dsa_priv.pem

code/osx/app_installer/updating/command line sign update.txt

code/perl/test/unit/testfiles/docs/css/VisDoc.min.css
code/perl/test/unit/testfiles/docs/css/shCoreDefault.min.css
code/perl/test/unit/testfiles/docs/html/_index.html
code/perl/test/unit/testfiles/docs/html/all-classes.html
code/perl/test/unit/testfiles/docs/html/all-constants.html
code/perl/test/unit/testfiles/docs/html/all-deprecated.html
code/perl/test/unit/testfiles/docs/html/all-methods.html
code/perl/test/unit/testfiles/docs/html/all-packages.html
code/perl/test/unit/testfiles/docs/html/all-properties.html
code/perl/test/unit/testfiles/docs/html/animals_Cat.html
code/perl/test/unit/testfiles/docs/html/animals_SpeakingPets.html
code/perl/test/unit/testfiles/docs/html/index.html
code/perl/test/unit/testfiles/docs/html/package_animals.html
code/perl/test/unit/testfiles/docs/js/1_jquery.min.js
code/perl/test/unit/testfiles/docs/js/2_jquery.cookie.min.js
code/perl/test/unit/testfiles/docs/js/3_jquery.simpletreeview.min.js
code/perl/test/unit/testfiles/docs/js/4_shCore.min.js
code/perl/test/unit/testfiles/docs/js/5_shBrushAS3.min.js
code/perl/test/unit/testfiles/docs/js/6_shBrushJava.min.js
code/perl/test/unit/testfiles/docs/js/7_VisDoc.min.js
code/perl/test/unit/testfiles/docs/xml/_index.xml
code/perl/test/unit/testfiles/docs/xml/all-classes.xml
code/perl/test/unit/testfiles/docs/xml/all-constants.xml
code/perl/test/unit/testfiles/docs/xml/all-deprecated.xml
code/perl/test/unit/testfiles/docs/xml/all-methods.xml
code/perl/test/unit/testfiles/docs/xml/all-packages.xml
code/perl/test/unit/testfiles/docs/xml/all-properties.xml
code/perl/test/unit/testfiles/docs/xml/animals_Cat.xml
code/perl/test/unit/testfiles/docs/xml/animals_SpeakingPets.xml
code/perl/test/unit/testfiles/docs/xml/index.xml
code/perl/test/unit/testfiles/docs/xml/package_animals.xml
